.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, #00cffd 0%, #b57edc 100%);
}

.innerContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  max-width: 1500px;
  margin: 0 auto 90px auto;
  max-height: 700px;
  overflow-y: scroll;
  padding: 0 10px;
}

.heading {
  font-size: 42px;
  text-align: center;
  color: #fff;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.nftSection {
  margin-top: 20px;
}

.nftGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.noNFT {
  font-size: 32px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  margin: 16px 0;
}

.notConnected {
  font-size: 40px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin: 16px 0;
}
